.product {
  margin: 30px auto 0 auto;
  position: relative;

  &__content {
    margin-bottom: 20px;
  }

  &__img {
    & img {
      height: auto;
      width: 100%;
      max-width: 890px;
      max-height: 507px;
      object-fit: cover;
    }

    margin-bottom: 20px;
  }

  &__description {
    margin-bottom: 20px;

    & .title-1 {
      margin-bottom: 10px;
    }

  }
}

@media (min-width: 992px) {
  .product__img {
    & img {
      width: calc(100vw - 500px)
    }
  }
}
