@import "../../../css/mixins";

.price {
  display: flex;
  align-items: center;


  &__basket {
    cursor: pointer;
    @include animate(0.25s);

    &:hover {
      @include animate-hover(1.05);
    }
  }

  &__value {
    margin-left: 15px;
  }
}
